h3 {
    font-size: 24px;
}

#city-list-group {
    vertical-align: left;
    background: rgb(180, 180, 179);
}


.current-weather {
    border: 2px;
    vertical-align: right;
}

.five-day {
    background: rgb(145, 165, 226);
    margin-left: 2vw;
    border: 2px;
    border-radius: 5px;
}

.card-header {
    font-size: 30px;
}

p {
    font-size: 20px;
}

#temperature {
    margin-left: 1vw;
}

#humidity {
    margin-left: 1vw;
}

#windspeed {
    margin-left: 1vw;
}

#uv {
    width: 8vw;
    border-radius: 5px;
    margin-left: 1vw;
}

.card {
    margin: 1rem;
}

.card-body {
    padding: 0px;
    width: 5vw;
    margin: .5vw;
    border-radius: 5px;
    background-color: rgb(161, 161, 161);
}

#five-day-id {
    background-color: white;
    padding: 0px;
    border: 1px;
}


.list-group-item {
    color: salmon;
}

.list-group-item-action {
    color: salmon;
}